<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  {{!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> --}}

  {{!-- Add Tailwind   --}}
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col bg-slate-800">
  <header class="p-8 bg-slate-700">
      <nav class="text-white gap-6 flex mb-3">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
      <h1 class="text-3xl font-bold bg-white p-3 text-slate-700">
        The Tech Blog
      </h1>
  </header>

  <main>
    <div class="p-8 flex flex-col lg:flex-row lg:flex-wrap">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>